In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#  House Price Prediciton and selecting the Algorithm

In [3]:
df_train=pd.read_csv('FinalTraindata.csv')
df_test=pd.read_csv('FinalTestdata.csv')

In [5]:
df_train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,Min1,Min2,Typ,Attchd,Basment,BuiltIn,CarPort,Detchd,RFn,P
0,60,65.0,8450,7,5,2003,2003,196.0,706.0,0.0,...,0,0,1,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978.0,0.0,...,0,0,1,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486.0,0.0,...,0,0,1,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216.0,0.0,...,0,0,1,0,0,0,0,1,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655.0,0.0,...,0,0,1,1,0,0,0,0,1,0

In [6]:
df_test.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,Min1,Min2,Typ,Attchd,Basment,BuiltIn,CarPort,Detchd,RFn,P
0,60,80.0,10000,8,5,1995,1996,438.0,1079.0,0.0,...,0,0,1,1,0,0,0,0,1,0
1,50,70.0,11767,4,7,1910,2000,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,0,0
2,180,21.0,1533,5,7,1970,1970,0.0,553.0,0.0,...,0,0,1,1,0,0,0,0,0,0
3,90,60.0,9000,5,5,1974,1974,0.0,0.0,0.0,...,0,0,1,1,0,0,0,0,0,0
4,20,78.0,9262,8,5,2008,2009,194.0,0.0,0.0,...,0,0,1,1,0,0,0,0,0,0

In [15]:
x_train=df_train.drop(['SalePrice'],axis=1)

In [16]:
y_train=df_train['SalePrice']

In [24]:
!pip3 install xgboost

Defaulting to user installation because normal site-packages is not writeable
Collecting xgboost
  Downloading xgboost-1.7.2-py3-none-win_amd64.whl (89.1 MB)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.2

In [25]:
import xgboost as xgb

In [26]:
classifier=xgb.XGBRegressor()
regressor=xgb.XGBRegressor()

In [27]:
classifier.fit(x_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
             grow_policy='depthwise', importance_type=None,
             interaction_constraints='', learning_rate=0.300000012, max_bin=256,
             max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
             max_depth=6, max_leaves=0, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [28]:
import pickle
filename ='finalized_model.pkl'
pickle.dump(classifier,open(filename,'wb'))

In [29]:
y_pred=classifier.predict(df_test)

In [30]:
y_pred

array([246818.92, 111736.44,  92099.98, ..., 179933.33, 101992.94,
       237086.4 ], dtype=float32)

In [86]:
sub_df

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [87]:
datasets['Id'].info()

<class 'pandas.core.series.Series'>
Int64Index: 1460 entries, 0 to 1459
Series name: Id
Non-Null Count  Dtype
--------------  -----
1460 non-null   int32
dtypes: int32(1)
memory usage: 17.1 KB

In [88]:
pred=pd.DataFrame(y_pred)
sub_df=pd.read_csv(r"C:\Users\irsha\Kaggle\House Prices - Advanced Regression Techniques\dataset\sample_submission.csv")

In [89]:
datasets['Id'] = datasets['Id'].fillna(0).astype(int)

In [98]:
#create sample submission file and submit

datasets=pd.concat([sub_df['Id'],pred],axis=1)
datasets.columns=['Id','SalePrice']
datasets['Id'] = datasets['Id'].fillna(0).astype(int)
datasets.to_csv('sample_submission.csv',index=False)